---
layout: page
permalink: "/essays/"
---

<div class="essays">
<!--   <h2><img src="{{ page.image_path }}" alt="page.title" />{{ page.title }}</h2> -->

  <div class="blog-post spacing">
    {{ content }}
  </div>
</div>

<!-- <article class="essays">


    <img src="{{ essays.picture }}" alt="Photo of a {{ essays.title | downcase }}">


  <h1>essays Profile: {{ essays.title }}</h1>

  <div class="essays-class {{ essays.class | downcase }}">
    {{ page.class }}
  </div>

  <div class="essays-family {{ essays.family | downcase }}">
    {{ essays.family }}
  </div>

  <div>
    {{ content }}
  </div>

</article> -->
